*{
    margin:0;
    padding:0;
}
.hidden{
    display: none;
}
.show{
    display:block;
}

.header{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0px 0px 12px -5px #000;
}
.header img{
    width:100%;
}
.page-1, .page-2{
    margin-top: 88px;
}

.question{
    margin-left: 20px;
    padding-left: 30px;
    border-left: 1px solid #eee;
    font-size: 22px;
}
ul{
    list-style: none;
    padding:0;
    margin-left: 20px;
    padding-left: 30px;
    padding-right: 20px;
    border-left: 1px solid #eee;
}
.list-header{
    display: flex;
}
.num{
    background: #434343cc;
    width:22px;
    height:22px;
    border-radius:50%;
    left:-40px;
    color:white;
    text-align: center;
    margin-left:10px;
}
.num.active{
    background: #f91e2e;
    color:white;
}
.title{
    margin-left:20px;
}
.month, .day, .birthdate{
    margin:20px 0px 20px 0px;
}
.monthes, .days, .birthdate-content, .answer{
    display: none;
}
li{
    border: 1px solid #eee;
    margin: 8px 0px;
    padding: 6px 8px;
    text-align: center;
    box-shadow: 0px 2px 5px -4px #000;
    border-radius: 5px;
}
li:hover{
    background: #f91e2e;
    color:white;
}
.birthdate-content{
    padding: 28px 58px;
    font-size: 22px;
}
.answer{
    padding-left:60px;
}
#btn-answer{
    background: #f91e2e;
    color: white;
    border: none;
    margin-bottom: 20px;
    width: 246px;
    padding: 8px 4px;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 0px #000;
}

.page-2{
    padding:10px;
}

.page-2 img{
    max-width: 100%;
}

.page-2-content{
    position: relative;
}
#test-day, #test-date, #test-time, #expire-date, #expire-time{
    position: absolute;
}
#test-day{
    left: 122px;
    top: 66px;
    background: white;
    font-size: 17px;
}
#test-date{
    left: 212px;
    top: 69px;
    background: white;
    font-size: 16px;
}
#test-time{
    left: 31px;
    top: 88px;
    background: white;
    font-size: 16px;
}
#expire-date{
    left: 228px;
    top: 248px;
    background: white;
    font-size: 16px;
}
#expire-time{
    left: 35px;
    top: 267px;
    background: white;
    font-size: 16px;
}

#img-name{
    background: url('../images/2021-03-18-result.jpg');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
    height: 40px;
}
#img-date, #img-link{
    padding:0px 16px;
    padding-right: 0;
    margin-top:6px;
}
#img-face{
    background: url(../images/2021-03-18-result.jpg);
    background-repeat: no-repeat;
    background-position: 0px -116px;
    background-size: cover;
    height: 128px;
    margin-top: 10px;
}
#img-fotter{
    background: url(../images/2021-03-18-result.jpg);
    background-repeat: no-repeat;
    background-position: 0px -286px;
    background-size: cover;
    height: 128px;
    margin-top: 10px;
}
.fake{
    height:100px;
}